body {
    width: 100%;
    margin: auto;
    text-align: center;
    background: url('images/mainbackground.jpg') no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

h4, h2 {
    font-family: Helvetica,Arial,AppleGothic,sans-serif; 
}

ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:link {
    color: #900000;
}

a:visited {
    color: #900000;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}